<template>
  <form class="options">
    <h2>Options</h2>
    <fieldset class="options__new-game-controls">
      <legend>New Game Options</legend>
      <div class="fieldset-content">
        <ul class="columns">
          <li class="options__control-list-item column is-narrow">
            <label class="form-control options__player-count">
              <span class="form-control__label">Number of Players</span>
              <input type="number" class="form-control__input" />
            </label>
          </li>
          <li class="options__control-list-item column is-narrow">
            <label class="form-control options__board-width">
              <span class="form-control__label">Board width</span>
              <input type="number" class="form-control__input" />
            </label>
          </li>
          <li class="options__control-list-item column is-narrow">
            <label class="form-control options__board-height">
              <span class="form-control__label">Board height</span>
              <input type="number" class="form-control__input" />
            </label>
          </li>
        </ul>
        <button type="submit" class="options__start-game">Start Game</button>
      </div>
    </fieldset>
    <fieldset class="options__current-game-controls">
      <button type="submit" class="options__reset-game">Reset Game</button>
    </fieldset>
  </form>
</template>
